<link href="/chinalife/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="/chinalife/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
<script src="/chinalife/js/jquery-1.10.1.js" type="text/javascript"></script>
<script src="/chinalife/js/bootstrap.js" type="text/javascript"></script>
<script src="/chinalife/js/jquery.cookie.js" type="text/javascript"></script>
<script src="/chinalife/js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="/chinalife/js/holder.js"></script>