<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <context-param>
        <param-name>db.config.name</param-name>
        <param-value>db_config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>db.max.idle</param-name>
        <param-value>30</param-value>
    </context-param>
    <context-param>
        <param-name>db.max.total</param-name>
        <param-value>100</param-value>
    </context-param>

    <listener>
        <listener-class>com.chinalife.utils.servlet.listener.SServletContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>request.encoding.filter</filter-name>
        <filter-class>com.chinalife.utils.servlet.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>request.encoding.filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.chinalife.servlet.RegisterServlet</servlet-class>
        <init-param>
            <param-name>s</param-name>
            <param-value>/jsp/main.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>f</param-name>
            <param-value>/jsp/user/userRegister.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.chinalife.servlet.LoginServlet</servlet-class>
        <init-param>
            <param-name>s</param-name>
            <param-value>/jsp/main.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>f</param-name>
            <param-value>/jsp/main.jsp</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/404.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>